{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<style>
    #start {
        width: 100px;
        height: 60px;
        border-radius: 10px;
        text-align: center;
        padding: 20px;
        background-color: rgb(157, 209, 157);
        margin-left:auto;
        margin-right:auto;
    }
    ul {
        list-style: none;
    }

</style>
    <div class="row">
        
            <div id="start">
                <a href="{{ url_for('test', step=0) }}">Start!</a>
            </div>
            
        </div>
    </div>
{% endblock %}